<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.gateway.infrustructs.dao.IApplicationSystemDao">
    
    <resultMap id="applicationSystemMap" type="com.kevin.gateway.infrustructs.po.ApplicationSystem">
        <id column="id" property="id"/>
        <id column="system_id" property="systemId"/>
        <id column="system_name" property="systemName"/>
        <id column="system_type" property="systemRegistry"/>
        <id column="system_registry" property="systemRegistry"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
    </resultMap>
    <insert id="insert">
        INSERT INTO `application_system` (
        `system_id`,
        `system_name`,
        `system_type`,
        `system_registry`,
        `create_time`,
        `update_time`
        )
        VALUES
        (
        #{systemId},
        #{systemName},
        #{systemType},
        #{systemRegistry},
        now(),
        now()
        )
    </insert>
    <select id="querySystemListBySystemIds" resultMap="applicationSystemMap">
        select `system_id`,`system_name`, `system_type`, `system_registry` from application_system
        <where>
            <if test="systemIds != null and systemIds.size() > 0 ">
                and system_id in
                <foreach collection="systemIds" item="systemId" open="(" separator="," close=")">
                    #{systemId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>