<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.gateway.infrustructs.dao.IGatewayServerDao">
    <resultMap id="gatewayServerMap" type="com.kevin.gateway.infrustructs.po.GatewayServer">
        <id column="id" property="id" />
        <id column="system_id" property="systemId"/>
        <id column="group_name" property="groupName"/>
    </resultMap>
    <select id="queryGatewayServerList" resultMap="gatewayServerMap">
        select id, system_id, group_name from gateway_server
    </select>
    <select id="queryPageByGroupId" resultMap="gatewayServerMap">
        select id, system_id, group_name from gateway_server
        <where>
            <if test="groupId != null and groupId != ''">
                and group_name = #{groupId}
            </if>
        </where>
        limit #{pageStart},#{pageEnd}
    </select>

</mapper>